body {
  font-size: 1.2rem;
  margin: 0px;
}

nav {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
  color: #101010;
  /*logo et titre en 'Shrikhand'*/
}

/******General********/
/*variables*/
.buttonSearch {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

input {
  background-color: #eaeaea;
  border: #eaeaea;
}

.Reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.Reserv h2 {
  width: 25%;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.Reserv p {
  width: 33%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

button {
  width: 25%;
  height: 50px;
  margin: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px;
}

.card__img {
  object-fit: cover;
}

.Restaurants-cards img {
  width: 100%;
  height: 231px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

.card-content {
  text-decoration: none;
}

.card-heart {
  width: 22px;
  height: 21px;
  position: absolute;
  bottom: 60px;
  right: 80px;
}

.fa-regular {
  font-size: 50px;
}

.fa-solid {
  color: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

.logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 63px;
  margin-top: 0px;
  margin-bottom: 4px;
}

button {
  width: 25%;
  height: 50px;
  margin: 50px;
  border-radius: 25px;
  background: linear-gradient(#9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
}

.card-content i {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%) repeat;
}
.card-content svg {
  display: block;
}
.card-content .bg_heart {
  display: block;
  position: absolute;
  clip-path: url(#heart-clip);
  z-index: 1;
  background-color: transparent;
  background-image: linear-gradient(transparent, #9356dc 50%, #ff79da);
  stroke: 1px;
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: 10px;
  background-position-y: 0%;
}

.fonctionnement .btnProcess {
  display: flex;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  gap: 50px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  padding: 5px 0px 5px 3px;
  align-items: center;
}
.fonctionnement .btnProcess__content {
  display: flex;
  gap: 15px;
}
.fonctionnement .number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
