@charset "UTF-8";
/*Mixins*/
body {
  font-size: 1.2rem;
  margin: 0px;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  color: #101010;
  text-decoration: none;
}

.buttonSearch {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: rgb(53, 53, 53);
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    height: 114px;
    padding: 20px 0px 0px 0px;
  }
}
footer .footer__logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 27px;
}
@media (min-width: 1024px) {
  footer .footer__logo {
    padding-right: 25px;
  }
}
footer .footer__logo p {
  color: #ffffff;
}
footer .footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 99px;
  gap: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
@media (min-width: 1024px) {
  footer .footer__text {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 25px;
  }
}
footer .footer__text p {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer__text i {
  color: #ffffff;
}
footer .footer__text .fa-utensils {
  font-size: 13px;
}
footer .footer__text .fa-handshake {
  font-size: 9px;
}

/*logo et titre en 'Shrikhand'*/
.logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 63px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.logomenu {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  position: relative;
  z-index: 1;
}
.button:hover::after {
  opacity: 0.5;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}
@media (min-width: 1024px) {
  .button {
    width: 218px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
  }
}

.Reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  gap: 25px;
  padding: 50px 0px 50px 0px;
}

.Reserv h2 {
  width: 75%;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 1024px) {
  .Reserv h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
  }
}

.Reserv p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  color: #353535;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
  gap: 15px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 180px 50px 180px;
    gap: 25px;
  }
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media (min-width: 1024px) {
  .fonctionnement h2 {
    width: 100%;
  }
}
.fonctionnement .btnProcess {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 73px;
  border-radius: 20px;
  background-color: #f6f6f6;
  gap: 50px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  padding-left: 30px;
  margin-left: 10px;
}
@media (min-width: 1024px) {
  .fonctionnement .btnProcess {
    width: 28%;
    margin: 0px;
    gap: 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
  }
}
.fonctionnement .number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.fonctionnement .fa-solid:hover {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 30px 0px 30px 0px;
}
@media (min-width: 1024px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px 180px 30px 180px;
  }
}
.restaurants .section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  padding: 15px;
}
@media (min-width: 1024px) {
  .restaurants .section-title {
    width: 100%;
    padding: 0px;
  }
}
.restaurants .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px;
}
.restaurants .card img {
  object-fit: cover;
}
.restaurants .card .card-txt {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.restaurants .card .card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}
.restaurants .card .card-subtitle {
  font-weight: 300;
}
.restaurants .card .card-heart {
  width: 22px;
  height: 21px;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
.restaurants .card .card-heart:hover i {
  display: none;
}
.restaurants .card .card-heart:hover {
  display: block;
  position: absolute;
  clip-path: url(#heart-clip);
  z-index: 1;
  background-color: transparent;
  background-image: linear-gradient(transparent, #9356dc -11.44%, #ff79da 123.93%);
  stroke: 1px;
  width: 22px;
  height: 22px;
  bottom: 40px;
  right: 30px;
  background-position-y: 0%;
  transition: transform;
}
.restaurants .card .card-heart i {
  font-size: 22px;
}
@media (min-width: 1024px) {
  .restaurants .Restaurants-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .restaurants .Restaurants-cards .partie1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    padding-bottom: 30px;
  }
  .restaurants .Restaurants-cards .partie2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
  }
  .restaurants .Restaurants-cards .cardCheck {
    width: 50%;
    cursor: pointer;
  }
  .restaurants .Restaurants-cards .card {
    margin: 10px;
  }
}
.restaurants .Restaurants-cards img {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.restaurant {
  position: relative;
  width: 100%;
  height: 1370px;
}
@media (min-width: 1024px) {
  .restaurant {
    height: 1405px;
  }
}
.restaurant .imgMenu img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.restaurant .menu {
  width: 100%;
  position: absolute;
  top: 210px;
  bottom: 0px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding-top: 25px;
}
@media (min-width: 1024px) {
  .restaurant .menu {
    width: 75%;
    top: 250px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant3 {
  height: 1455px;
}
@media (min-width: 1024px) {
  .restaurant3 {
    height: 1490px;
  }
}

.menuTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 25px 25px 10px;
}
@media (min-width: 1024px) {
  .menuTitle {
    justify-content: center;
    gap: 30px;
  }
}
.menuTitle h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.menuTitle .menu-heart {
  width: 20px;
  height: 21px;
  position: absolute;
  top: 60px;
  right: 30px;
  transition: all 2s;
}
@media (min-width: 1024px) {
  .menuTitle .menu-heart {
    position: absolute;
    top: 60px;
    right: 300px;
  }
}
.menuTitle .menu-heart:hover i {
  display: none;
}
.menuTitle .menu-heart:hover {
  display: block;
  position: absolute;
  clip-path: url(#heart-clip);
  z-index: 1;
  background-color: transparent;
  background-image: linear-gradient(transparent, #9356dc -11.44%, #ff79da 123.93%);
  stroke: 1px;
  bottom: 60px;
  right: 30px;
  font-weight: 400;
  background-position-y: 0%;
}
@media (min-width: 1024px) {
  .menuTitle .menu-heart:hover {
    position: absolute;
    top: 60px;
    right: 300px;
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@media (min-width: 1024px) {
  .menuContent {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.menuContent h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.menuContent h2::after {
  content: "";
  display: block;
  border-bottom: 3px #99E2D0 solid;
  width: 50px;
  position: absolute;
  bottom: -5px;
}
.menuContent .plats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.menuContent .plats:hover .check {
  margin-right: 0;
}
.menuContent .plats .description {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 15px 0px 15px 15px;
  gap: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menuContent .plats .description h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.menuContent .plats .description p {
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.63px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.menuContent .plats .description-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuContent .plats .description-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 17.63px;
  width: 100%;
  margin: 0;
}
.menuContent .plats .prix {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  margin-left: auto;
  overflow: hidden;
}
.menuContent .plats .prix .€ {
  display: flex;
  align-items: flex-end;
  width: 55px;
  padding: 15px 0px 15px 15px;
}
.menuContent .plats .check {
  display: grid;
  place-items: center;
  width: 94px;
  border: 2px solid #99e2d0;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  margin-right: -100px;
  transition: all 0.5s;
}
@media (min-width: 1024px) {
  .menuContent .plats .check {
    width: 90px;
  }
}
.menuContent .plats .check i {
  font-size: 22px;
  color: white;
}
.menuContent .button {
  margin: 20px 0px 20px 0px;
}

.entrance-1 {
  animation-delay: 0.5s;
}

.entrance-2 {
  animation-delay: 1.5s;
}

.entrance-3 {
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body .loading-body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%); /* Couleur de fond légèrement plus claire */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Couleur du texte initial */
  z-index: 2; /* Augmentez le z-index pour placer au-dessus du contenu réel */
  animation: fade-out 10s ease-in-out forwards 1s, hide-container 1s forwards 10s;
  visibility: visible;
}

.loading-container::before,
.loading-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%); /* Dégradé violet et rose */
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-text-container {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: #000; /* Couleur du cadre noir */
  box-shadow: 0px 10px 10px #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated-text {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 0;
  animation: write-text 3s steps(14, end) infinite, fade-out 10s linear 7s forwards;
  color: transparent;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%); /* Dégradé violet et rose pour les lettres */
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes write-text {
  to {
    width: 100%;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
/* Affichez le contenu réel après la fin de l'animation */
.loaded-content {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards 7s, hide-container 0s forwards 9s;
  background-color: #fff; /* Couleur du fond de la page principale */
  color: #000; /* Couleur du texte dans le contenu réel */
  padding: 20px;
  z-index: 1;
}

@keyframes fade-in {
  to {
    opacity: 1;
    overflow: auto;
  }
}
@keyframes hide-container {
  to {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
