body {
  font-size: 1.2rem;
  margin: 0px;
}

nav {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
  color: #101010;
  text-decoration: none;
  /*logo et titre en 'Shrikhand'*/
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  padding-left: 25px;
}

/******General********/
/*variables*/
.buttonSearch {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

input {
  background-color: #eaeaea;
  border: #eaeaea;
}

.Reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  gap: 25px;
  padding: 50px 0px 50px 0px;
}

.Reserv h2 {
  width: 75%;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.Reserv p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

.logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 63px;
  margin-top: 0px;
  margin-bottom: 4px;
}

button {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px;
}
.card__img {
  object-fit: cover;
}
.card .card-txt {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.card .card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}
.card .card-subtitle {
  font-weight: 300;
}
.card .card-heart {
  width: 22px;
  height: 21px;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
.card .card-heart i {
  font-size: 22px;
}

.Restaurants-cards img {
  width: 100%;
  height: 231px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-content svg {
  display: block;
}
.card-content .bg_heart {
  display: block;
  position: absolute;
  clip-path: url(#heart-clip);
  z-index: 1;
  background-color: transparent;
  background-image: linear-gradient(transparent, #9356dc 50%, #ff79da);
  stroke: 1px;
  width: 22px;
  height: 21px;
  bottom: 40px;
  right: 30px;
  background-position-y: 0%;
}

.restaurant {
  position: relative;
  width: 100%;
  height: 1346px;
}
.restaurant .imgMenu img {
  width: 100%;
  height: 275px;
}
.restaurant .menu {
  width: 100%;
  position: absolute;
  top: 210px;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  padding-top: 25px;
}

.menuTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}
.menuTitle h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.menuTitle i {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.menuContent h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
}
.menuContent .plats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  gap: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.menuContent .plats h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.menuContent .plats p {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.63px;
}
.menuContent .plats p span {
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
}
.menuContent button {
  margin: 30px 0px 30px 0px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
  gap: 15px;
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.fonctionnement .btnProcess {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 73px;
  border-radius: 20px;
  background-color: #f6f6f6;
  gap: 50px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  padding-left: 30px;
  margin-left: 10px;
}
.fonctionnement .number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 30px 0px 30px 0px;
}
.restaurants .section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
