



/*variables*/

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$backgroundGrey1: #eaeaea;
$backgroundGrey2: #f6f6f6;
$backgroundButton: linear-gradient(
  193.33deg,
  $primary -11.44%,
  $secondary 123.93%
);

@mixin desktop {
  @media (min-width: 1280px) {
      @content;
  }
}

.buttonSearch {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: $backgroundGrey1;
}
input {
  background-color: $backgroundGrey1;
  border: $backgroundGrey1;
}

.Reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundGrey2;
  gap: 25px;
  padding: 50px 0px 50px 0px;
}

.Reserv h2 {
  width: 75%;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  @include desktop {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
  }
}
.Reserv p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  color: #353535;

}





