@use './../utils/variables' as v;
@use './../utils/mixins' as m;

.restaurant {
    position: relative;
    width: 100%;
    height: 1370px;
    @include m.desktop {
        height: 1405px;
    }

    .imgMenu img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: 210px;
        bottom: 0px;
        background-color: v.$backgroundGrey2;
        border-radius: 40px 40px 0px 0px;
        padding-top: 25px;  
        
        @include m.desktop {
            width: 75%;
            top: 250px;
            right: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}

.restaurant3 {
    height: 1455px;
    @include m.desktop {
        height: 1490px;
    }
}

.menuTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 25px 25px 10px;
    

    @include m.desktop {
        justify-content: center;
        gap: 30px;
    }

    h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.menuContent {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;

    @include m.desktop {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px 
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        position: relative;
            &::after {
                content: '';
                display: block;
                border-bottom: 3px v.$backgroundNew solid;
                width: 50px;
                position: absolute;
                bottom: -5px;
            }

    }

    .plats {
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        width: 100%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

            &:hover .check {
                margin-right: 0;
            }
            
        .description {
            display: flex;
            flex-direction: column;
            width: 310px;
            padding: 15px 0px 15px 15px;
            gap: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
           
        
            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
            }
            p {
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                font-size: 15px;
                line-height: 17.63px;
                
                
            }
        }
            .prix {
                display: flex;
                flex-direction: row;
                font-size: 15px;
                font-weight: 700;
                line-height: 17.63px;
                margin-left: auto;
                overflow: hidden;
                
                
                    .€ {
                        display: flex;
                        align-items: flex-end;
                        width: 55px;
                        padding: 15px 0px 15px 15px;
                    }
                }
            
            .check {
                display: grid;
                place-items: center;
                width: 94px;
                border: 2px solid v.$tertiary;
                border-radius: 0px 15px 15px 0px;
                background-color: v.$tertiary;
                margin-right: -95px;
                transition: all 0.5s ;
                
                     @include m.desktop {
                        width: 90px;
                     }

                & i {
                    font-size: 22px;
                    color: white;
                }
                
            }
    }

    .button {
        margin: 20px 0px 20px 0px;
      }
}