@use './../utils/variables' as v;
@use './../utils/mixins' as m;

// style Menu Restaurants //

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
  
  }

.restaurant {
    position: relative;
    width: 100%;
    height: 1370px;
    @include m.desktop {
        height: 1405px;
    }

    .imgMenu img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: 210px;
        bottom: 0px;
        background-color: v.$backgroundGrey2;
        border-radius: 40px 40px 0px 0px;
        padding-top: 25px;  
        
        @include m.desktop {
            width: 75%;
            top: 250px;
            right: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}

.restaurant3 {
    height: 1455px;
    @include m.desktop {
        height: 1490px;
    }
}

.menuTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 25px 25px 10px;
    

    @include m.desktop {
        justify-content: center;
        gap: 30px;
    }

    h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .wrap_heart > .menu-heart.fill {
        transform: scale(0);
        transition: transform 1s;
    }

    .wrap_heart:hover > .menu-heart.fill {
        transform: scale(1);
        transition: transform;
        transition-duration: 1s;
      }

      .wrap_heart > .menu-heart.empty {
        transform: scale(1);
        transition: transform 1s;
    }

    .wrap_heart:hover > .menu-heart.empty {
        transform: scale(0);
        transition: transform;
        transition-duration: 1s;
      }

    .menu-heart {
        width: 20px;
        height: 21px;
        position: absolute;
        top: 60px;
        right: 30px;
        
      
        @include m.desktop {
          position: absolute;
          top: 60px;
          right: 300px;
        }

        &.empty {
            transform: scale(1);
          }
        
          &.fill {
            position: absolute;
            clip-path: url(#heart-clip);
            background-image: linear-gradient( transparent,#9356dc -11.44%,#ff79da 123.93%);
            stroke: transparent;
            bottom: 60px;
            right: 30px;
            font-weight: 400;
            background-position-y: 0%;
            transform: scale(0);

              @include m.desktop {
                position: absolute;
                top: 60px;
                right: 300px;
              }
            }        
    }
}

.menuContent {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    
    
    @include m.desktop {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px 
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        position: relative;

            &::after {
                content: '';
                display: block;
                border-bottom: 3px v.$backgroundNew solid;
                width: 50px;
                position: absolute;
                bottom: -5px;
            }
    }

    .plats {
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        width: 100%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
            &:hover .check {
                margin-right: 0;
            }
            
        .description {
            display: flex;
            flex-direction: column;
            width: 310px;
            padding: 15px 0px 15px 15px;
            gap: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
           
            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
            }

            p {
                display: block;   
                font-weight: 300;
                font-size: 15px;
                line-height: 17.63px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0; 
            }
        }
        
        .prix {
            display: flex;
            flex-direction: row;
            font-size: 15px;
            font-weight: 700;
            line-height: 17.63px;
            margin-left: auto;
            overflow: hidden;
                
                .€ {
                    display: flex;
                     align-items: flex-end;
                     width: 55px;
                    padding: 15px 0px 15px 15px;
                }
             }
            
            .check {
                display: grid;
                place-items: center;
                width: 94px;
                border: 2px solid v.$tertiary;
                border-radius: 0px 15px 15px 0px;
                background-color: v.$tertiary;
                margin-right: -100px;
                transition: all 0.5s ;
                
                     @include m.desktop {
                        width: 90px;
                     }

                & i {
                    font-size: 22px;
                    color: white;
                }
                
            }
    }

    .button {
        margin: 20px 0px 20px 0px;
      }
}

.entrance-1 { animation-delay: 0.5s; }
.entrance-2 { animation-delay: 1.5s; }
.entrance-3 { animation-delay: 2.5s; }


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


