@use './../utils/variables' as v;

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: v.$backgroundNew;
    color: v.$colorNews;
    position: absolute;
    top: 20px ;
    right: 20px;
}