@use './../utils/variables' as v;
body {
  font-size: v.$font-primary;
  margin: 0px;
}

nav {
  display: flex;
  flex-direction: column;
}
* {
  font-family: 'Roboto', sans-serif;
  color: #101010;

  /*logo et titre en 'Shrikhand'*/
}

footer {
   
  display: flex;
  flex-direction: column;
  background-color: v.$backgroundFooter;
  color: v.$colorFont;
  padding-left: 25px;

   &__logo {
    font-family: 'Shrikhand', serif;
    font-style: italic;
    font-weight: 400;

   }

   &__text {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
   }

}
