$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$backgroundGrey1: #eaeaea;
$backgroundGrey2: #f6f6f6;
$backgroundButton: linear-gradient(#9356dc -11.44%, #ff79da 123.93%);
$font-primary: 1.2rem;
