@use './../utils/variables' as v;
@use './../utils/mixins' as m;

* {
  box-sizing: border-box;
}

body .loading-body  {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: v.$tertiary; /* Couleur de fond légèrement plus claire */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Couleur du texte initial */
  z-index: 2; /* Augmentez le z-index pour placer au-dessus du contenu réel */
  animation: fade-out 10s ease-in-out forwards 1s, hide-container 1s forwards 10s;
  visibility: visible;
}

.loading-container::before,
.loading-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: v.$backgroundButton; /* Dégradé violet et rose */
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-text-container {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: #000; /* Couleur du cadre noir */
  box-shadow:0px 10px 10px v.$backgroundFooter;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated-text {
  font-family: 'Shrikhand', serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 0;
  animation: write-text 3s steps(14, end) infinite, fade-out 10s linear 7s forwards;
  color: transparent;
  background: v.$backgroundButton; /* Dégradé violet et rose pour les lettres */
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes write-text {
  to {
      width: 100%;
  }
}

@keyframes fade-out {
  to {
      opacity: 0;
      transform: translateX(-100vw);
  }
}

/* Affichez le contenu réel après la fin de l'animation */
.loaded-content {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards 7s, hide-container 0s forwards 9s;
  background-color: #fff; /* Couleur du fond de la page principale */
  color: #000; /* Couleur du texte dans le contenu réel */
  padding: 20px;
  //box-shadow: 0 0 10px rgba(219, 112, 255, 0.8), 0 0 20px rgba(15, 207, 193, 0.8); /* Box shadow dégradé violet et rose */
  z-index: 1;
}

@keyframes fade-in {
  to {
      opacity: 1;
      overflow: auto;
  }
}

@keyframes hide-container {
  to {
    display: none;
  }
}